	<form id="settings">
		<label class="form-label">URL <span class="form-label--required">*</span></label>
		<input type="text" name="url" placeholder="http://www.buzzfeed.com" class="text-input mb1 col col-12">

		<label class="form-label">View port 	<span class="form-label--required">*</span></label>
		<input type="text" name="viewport" placeholder="320x480" class="text-input mb1 col col-12">

		<label class="form-label">Selector 	<span class="form-label--optional">(optional)</span></label>
		<input type="text" name="selector" placeholder=".splash__container" class="text-input mb1 col col-12">

		<label class="form-label">User agent 	<span class="form-label--optional">(optional)</span></label>
		<input type="text" name="userAgent" placeholder="Mozilla/5.0 (iPhone; U; CPU iPhone..." class="text-input mb2 col col-12">

		<input type="checkbox" name="crop" class="checkbox" id="crop" value="true">
		<label for="crop">Crop <span class="form-label--optional">(optional)</span></label>
		<label class="form-helper mb1"> Crop to the set height</label>

		<input type="checkbox" name="fast" class="checkbox" id="fresh" value="false" name="checkboxes">
		<label for="fresh">Fresh only <span class="form-label--optional">(optional)</span></label>
		<label class="form-helper mb2"> By default it will respond with a cached image and queue a fresh fetch</label>
		
		<button type="reset" class="button button--delete">Clear</button>
		<button class="button button--primary rounded js-shoot">Shoot</button>
	</form>
