<!DOCTYPE html>
<html>
	<head>
		<title>Screen-canon | Dashboard</title>
		<link rel="stylesheet" href="static/css/main.min.css">
		<script data-main="static/js/app" src="static/js/libs/require.js"></script>
	</head>

	<body>
		<div class="clearfix">
		  <div class="col col-12">
		  	<form target="_blank" method="get">
			  	<label class="form-label">URL</label>
					<input type="text" class="text-input">

					<label class="form-label">Viewport</label>
					<input type="text" class="text-input">

					<label class="form-label">Delay</label>
					<input type="text" class="text-input" value="{{options.delay}}">

					<label class="form-label">Format</label>
					<input type="text" class="text-input"  value="{{options.format}}">

					<label class="form-label">Crop</label>
					<input type="text" class="text-input"  value="{{options.crop}}">

		  	</form>
		  </div>
		</div>
	</body>

</html>
