<!DOCTYPE html>
<html>
	<head>
		<title>Screen-canon | Dashboard</title>
		<link rel="stylesheet" href="static/css/main.min.css">
	</head>

	<body>
		<div class="clearfix">
			{{#data}}
				<img src="/shot/{{_id}}" />
		  {{/data}}
		</div>
	</body>

</html>
