<form id="settings">
	<button class="button button--primary js-add-new-url-fieldset col xs-col-12 xs-mb1">Add URL</button>
	<fieldset class="form-fieldset col xs-col-6">
		<label class="form-label">Platform</label>
	  <input type="checkbox" class="checkbox" id="check_1" value="check_1" name="checkboxes">
	  <label for="check_1">Mobile Web</label>
	  <input type="checkbox" class="checkbox" id="check_2" value="check_2" name="checkboxes">
	  <label for="check_2">Desktop Web</label>
	  <input type="checkbox" class="checkbox" id="check_1" value="check_1" name="checkboxes">
	  <label for="check_1">Android Buzzfeed App</label>
	  <input type="checkbox" class="checkbox" id="check_2" value="check_2" name="checkboxes">
	  <label for="check_2">iOS Buzzfeed App</label>
	  <input type="checkbox" class="checkbox" id="check_2" value="check_2" name="checkboxes">
	  <label for="check_2">iOS Buzzfeed News App</label>
	</fieldset>
	<fieldset class="form-fieldset col xs-col-6">
		<label class="form-label">Environment</label>
	  <input type="checkbox" class="checkbox" id="check_1" value="check_1" name="checkboxes">
	  <label for="check_1">Stage</label>
	  <input type="checkbox" class="checkbox" id="check_2" value="check_2" name="checkboxes">
	  <label for="check_2">Prod</label>
	</fieldset>
</form>
