<form id="settings">
	<div class="clearfix">
		<button class="button button--primary js-add-new-url-fieldset col xs-col-4 xs-mb1">Add URL</button>
	</div>
	<fieldset class="form-fieldset col xs-col-8">
		<label class="form-label">Platform</label>
		<input type="checkbox" class="checkbox" id="mob_web" value="mob_web" name="platform">
		<label class="xs-mb1" for="mob_web">Mobile Web</label>
		<input type="checkbox" class="checkbox" id="dskp_web" value="dskp_web" name="platform">
		<label class="xs-mb1" for="dskp_web">Desktop Web</label>
		<input type="checkbox" class="checkbox" id="anrd_bf_app" value="anrd_bf_app" name="platform">
		<label class="xs-mb1" for="anrd_bf_app">Android Buzzfeed App</label>
		<input type="checkbox" class="checkbox" id="ios_bf_app" value="ios_bf_app" name="platform">
		<label class="xs-mb1" for="ios_bf_app">iOS Buzzfeed App</label>
		<input type="checkbox" class="checkbox" id="ios_bf_app_news" value="ios_bf_app_news" name="platform">
		<label class="xs-mb1" for="ios_bf_app_news">iOS Buzzfeed News App</label>
	</fieldset>
	<fieldset class="form-fieldset col xs-col-4 xs-mb1">
		<label class="form-label">Environment</label>
		<input type="checkbox" class="checkbox" id="stage" value="stage" name="environment" checked>
		<label class="xs-mb1" for="stage">Stage</label>
		<input type="checkbox" class="checkbox" id="prod" value="prod" name="environment" checked>
		<label class="xs-mb1" for="prod">Prod</label>
	</fieldset>
	<input type="hidden" name="id" value="1" />
	<div class="col xs-col-12 xs-mt1">
		<button type="reset" class="button button--delete">Clear</button>
		<button class="button button--primary rounded js-shoot">Shoot</button>
	</div>
</form>
