<h3>URLS</h3>
<div class="page-message page-message--success">
	<div class="page-message__text">S3
		<a class="page-message__action" href="https://screen-canon-local.s3.amazonaws.com/{{_id}}">
https://screen-canon-local.s3.amazonaws.com/{{_id}}
		</a>
	</div>
</div>
<div class="page-message page-message--success">
	<div class="page-message__text">This App: 
		<a class="page-message__action" href="/shot/{{_id}}">/shot/{{_id}}</a>
	</div>
</div>
<div class="col col- mt3 preview">
	<img src="/shot/{{_id}}" />
</div>
<!-- <div class="col col-6 mt3">
	<img class="preview" src="https://screen-canon-local.s3.amazonaws.com/{{_id}}" />
</div>
 -->
